body {
    background: url(blood.png) no-repeat center center fixed;
    background-size: cover;
}

.robot {
    display: block;
    height: 600px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.intro {

    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    letter-spacing: 3px: 
    position: relative;
    text-align: center;
    text-shadow: 0px 1px 0px red;
    width: 100%;
}

.body {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px 130px 0px 130px;
    text-shadow: 0px 1px 0px red; 

}

.form {
    background: url(wood.jpg );
    border: 0px;
    display: block;
    height: 10%;
    margin: 0 auto;
    padding-bottom: 8px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

h4 {
    font-size: 32px;
    letter-spacing: 1.2px;
    padding-top: 5px;
}

#creep {
    color: red;
    display: inline-block;
    font-family: 'Creepster', cursive;
    margin: 0px
}

#creep-h4 {
    color: red;
    display: inline-block;
    font-family: 'Creepster', cursive;
    margin: 5px
}

#email {
    font-family: 'Indie Flower', cursive;
}

.button {
    background-color: #7d5d3b;
    border: 1px solid #54381e;
    text-shadow: 0px 1px 0px #800000;
}

video {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block
}
