html{
    height: 100%;
  
}
.blood {
    background: url(blood.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: .5;
    z-index: -1;


}
body{
     background: linear-gradient(to left,#FF0000,pink);
     margin: 0px;
}

.robot {
    box-shadow: 3px 3px 4px black;
    display: block;
    height: 600px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

}

.intro {

    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    letter-spacing: 3px; 
    position: relative;
    text-align: center;
    text-shadow: 0px 2px 0px red;
    width: 100%;
    
}

.body {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px 130px 0px 130px;
    text-shadow: 0px 2px 0px red; 
}

.form {
    background: url(wood.jpg );
    border: 0px;
    display: block;
    height: 10%;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

h4 {
    font-size: 32px;
    letter-spacing: 1.2px;
    padding-top: 5px;
}

#creep {
    color: red;
    display: inline-block;
    font-family: 'Creepster', cursive;
    margin: 0px
}

#creep-h4 {
    color: red;
    display: inline-block;
    font-family: 'Creepster', cursive;
    margin: 5px
}

#email {
    font-family: 'Indie Flower', cursive;
}

.button {
    background-color: #7d5d3b;
    border: 1px solid #54381e;
    text-shadow: 0px 1px 0px #800000;
}

video {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.scared {
    height: 100px;
    margin-top: 300px;
    position: fixed;
    opacity: 0; /* Sets standard to 0*/
    -webkit-animation-name: scared; /*sets the name of the animation, this allows us to select it in key frames*/
    -webkit-animation-duration: 5s; /* the amount of seconds the animation will last*/
    -webkit-animation-iteration-count: infinite;/*it set how many times the animation repeats*/
     -webkit-transition: width .5s height 2s; /*sets the amount of time the width and height have to transition in .scared:hover*/
}
    
@-webkit-keyframes scared { /*It selects the animation name scared*/
    0% {transform: rotate(0deg); left: -90px;}/*sets the animation to start off at a rotationn of 0 degrees, and left -90px */
    10% {transform: rotate(10deg); right: 1px; opacity: 1;}/*at 0.5 seconds the image rotates 10 degrees, moves to the right 1px and changes opcatity to 1(duration for 3 seconds)*/
    70% {transform: rotate(20deg); left: 1px; opacity: 1;}/* at 3.5 seconds the image rotates 20 degrees then moves to the left 1px*/
    100% {transform: rotate(0deg); left: -90px;}/* 5 seconds it goes back to the 0% animation*/
}
.scared:hover{/*When the mouse is over the image it increases its width and height */
    width: 100px;
    height: 175px;
    
}