/*body {*/


/*    background-image: url(blood.png);*/


/*    max-width: 100%;*/


/*    max-height: 100%;*/


/*}*/
img {
    width:400px;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
 
body {
    background: url(blood.png) no-repeat center center fixed;
    background-size: cover;
 
}

/*.sticker {*/
/*    background: url(wood.jpg );*/
/*    border: 1px;*/
/*    color: #d9d9d9;*/
/*    font-family: 'Creepster', cursive;*/
/*    font-size: 60px;*/
/*    letter-spacing: 3.5px;*/
/*    margin: 100px 100px 15px 100px;*/
/*    padding: 0px;*/
/*    text-align: center;*/
}

p.bold {
    font-weight: 900;
}

.intro {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    letter-spacing: 3px: position: relative;
    text-align: center;
    width: 100%;
}

.body {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin: 150px;
}